@model IEnumerable<FrankProject.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creativity)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creativity)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Design)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RatingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RatingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
